
# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.cbp
*.layout
*.depend
*.mod
*.exe
*.bat

# generated directories
bin/
obj/

# End of https://www.gitignore.io/api/codeblocks


compile.bat
*.exe
*.save-failed